# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# IDE settings
.vscode/

# unuse files

temp.html
mysql.txt
git commands.txt

temp.js 
.dockerignore
dockerfile

# fileders

public/images/
public/js/gsap.min.js

tempServer.js
app.js
MEGA-RECOVERYKEY (1).txt